// Variables



// Color system
$white:               #fff;
$white-opacity:       rgba(255,255,255, 0.65);
$white:               #fff !default;
$gray-600:            #4a4a4a !default;
$gray-500:            #8A8A8A !default;
$gray-200:            #ababab !default;
$gray-100:            #dad9d9 !default;

$black:               #000 !default;

$green:               #a5ac73 !default;
$pink:                #ff2c70 !default;
$pink-light:          #ffa4c2 !default;

$primary:             $pink !default;
$secondary:           $gray-600 !default;
$tertiary:            $gray-200 !default;
$success:             $green !default;
$primary-light:       $pink !default;
$secondary-light:     $gray-500 !default;
$tertiary-light:      $gray-100 !default;


$theme-colors: () !default;

$theme-colors: map-merge(
   (
     "primary": $primary,
     "secondary": $secondary,
     "light": $tertiary,
     "primary-light": $primary-light,
     "secondary-light": $secondary-light,
     "tertiary-light": $tertiary-light,
     "success":$success,
   ),
     $theme-colors
);

$body-color:           #303030;

/**
  transparent colors
 */
$dark-transparent: rgba(16, 44, 70, 0.53);


$border-radius:               .25rem;
$border-radius-xl:            2rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
   (
     0: 0,
     1: ($spacer * .25),
     2: ($spacer * .5),
     3: $spacer,
     4: ($spacer * 1.5),
     5: ($spacer * 3),
     6: ($spacer * 3.875),
     7: ($spacer * 4)
   ),
     $spacers
);


// sizes

$container-fluid-max-width: 1159px;


// Typography

$font-family-base: 'Work Sans', sans-serif;
$font-size-base: 0.9375rem;
$primary-headings-weight: 600;

$display1-size:               3.4375rem;
$display2-size:               2.8125rem;
$display3-size:               2.375rem;
$display4-size:               1.875rem;
$display5-size:               1.25rem;
$display6-size:               1.125rem;

$h1-font-size: 3.5rem;
$h2-font-size: 2.8125rem;
$h3-font-size: 2.375rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1.125rem;

$font-weight-thin:            100;
$font-weight-lighter:         200;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            600;
$font-weight-bolder:          900;

$enable-responsive-font-sizes : true;