
{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    /**
     * Strict mode
     * babel inserts "use strict"; for us
     * http://eslint.org/docs/rules/strict
     */
    "strict": 0,

    "curly": [2, "multi-line"], // http://eslint.org/docs/rules/curly
    "indent": [2, 2, {"SwitchCase": 1}], // http://eslint.org/docs/rules/indent
    "brace-style": [2, // http://eslint.org/docs/rules/brace-style
      "1tbs", {
        "allowSingleLine": true
      }
    ],
    "max-len": [1, 160, 2, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-multiple-empty-lines": [2, {
      "max": 2
    }],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true,
          "consistent": true
        },
        "ObjectPattern": {
          "multiline": true,
          "consistent": true
        }
      }
    ],
    "object-curly-spacing": ["error", "always", { "objectsInObjects": true }],
    "operator-linebreak": ["error", "after"],
    "quotes": ["error", "single"],
  }
}